body {
  margin: 0px;
  background-color: aliceblue;
}

header {
  height: 150px;
  padding: 20px;
  text-align: center;
}

nav {
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
  text-align: center;
  background-color: white;
  border-radius: 7px;
  width: 70%;
  margin-left: 14%;
}


/* Lomake */
#lomaketbl {
  margin-left: 10%;
  text-align: left;
  width: 70%;
}

td {
  padding: 5px;
}

input {
  width: 100%;
}

button {
  border: 1px solid darkslategrey;
  background-color: ghostwhite;
  color: black;
}

button:hover {
  background-color: gainsboro;
  color: black;
}

.navbtn {
  margin: 5px;
  padding: 5px;
  width: 120px;
}

.lomakebtn {
  padding: 5px;
  width: 150px;
  margin-top: 8px;
}

#aihelistaus {
  text-align: left;
  margin-left: 15%;
}